header {
  width: 100%;
  .menu {
    padding: 0;
    align-items: center;
    text-align: center;
    .menuNav {
      z-index: 3;
      position: fixed;
      right: 35px;
      display: inline-flex;
      justify-content: center;
      .navItem {
        color: #fff;
        position: relative;
        margin: 1em;
        a {
          font-family: "Montserrat", sans-serif;
          color: #ffffff;
          font-size: 1.5rem;
          font-style: medium;
          font-weight: 500;
          letter-spacing: 0.025em;
          &:hover {
            color: #ffc312;
          }
        }
      }
      .btnContainer {
        margin-top: 0.4em;
      }
    }
  }
}
